body {
	font: "Raleway", sans-serif;
	color: rgba(0, 0, 0, 0.5);
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .6em;
	top: 10%;
	background: linear-gradient(to right, cyan, green);


}

h1 {
	font: 700 3.5em "Raleway", sans-serif;
	color: rgba(0, 0, 0, 0.5);
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.6;
	width: 100%;
}